@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

/* Global Styling */
body {
  margin: 0;
  padding: 0;

  font-size: 15px;
  font-family: "Spartan", sans-serif;

  background: url(./images/bg-pattern-top-mobile.svg) no-repeat;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Colors */
:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

/* Typography */
h1 {
  font-size: 1.86rem;
  color: var(--Very-Dark-Magenta);
}

h2 {
  font-size: 0.9rem;
  color: var(--Light-Grayish-Magenta);
  margin: 0.33em 0;
}

h3 {
  font-size: 0.9rem;
  color: var(--Soft-Pink);
  font-weight: 400;
  margin: 0.33em 0;
}

.intro p {
  color: var(--Dark-Grayish-Magenta);
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

p.rating {
  color: var(--Very-Dark-Magenta);
}

.card p {
  color: var(--Light-Grayish-Magenta);
  font-size: 0.8rem;
  line-height: 1.5rem;
}

/* Layout */
main {
  margin: 5.33em 1.6em;
}

.overview {
  text-align: center;
  margin-bottom: 3.33em;
}

.intro {
  margin-bottom: 3.2em;
}

.rating-card {
  background: var(--Light-Grayish-Magenta);
  padding: 0.75em 0;
  margin-bottom: 1em;
  border-radius: 10px;
}

.rating-title {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.rating-stars {
  display: inline-block;
  width: 6.799em;
  height: 1em;
  background-image: url("./images/icon-star.svg");
  background-repeat: space no-repeat;
}

.card {
  background: var(--Very-Dark-Magenta);
  padding: 2.66em 2em;
  border-radius: 2%;
  margin-bottom: 1em;
}

.card-header {
  display: flex;
}

.card img {
  height: 2.66rem;
  width: 2.66rem;
  border-radius: 50%;
}

.identity {
  margin-left: 1.5em;
}

/* Media Queries */

@media (min-width: 481px) {
  .rating-section {
    padding: 0 7vw;
  }
}

@media (min-width: 568px) {
  main {
    margin: 5.33em 10vw;
  }
}

@media (min-width: 640px) {
  main {
    margin: 5.33em 15vw;
  }

  .rating-section {
    padding: 0 10vw;
  }
}

/* Adjust star widths */
@media (min-width: 940px) {
  .rating-stars {
    width: 6.25rem;
  }
}

@media (min-width: 1024px) {
  body {
    background: url(./images/bg-pattern-top-desktop.svg) no-repeat -9% 0%,
      url(./images/bg-pattern-bottom-desktop.svg) no-repeat 100%, -10%;
  }

  main {
    margin: 5.33em 11vw;
  }

  .intro {
    text-align: left;
  }

  h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.25em;
  }

  .intro {
    width: 45%;
  }

  .rating-section {
    margin-top: 1em;
    padding: 0;
    width: 40%;
  }

  .overview {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .testimonials {
    display: flex;
    flex-direction: row;
    gap: 0 2em;
  }
}

@media (min-width: 1440px) {
  body {
    background: url(./images/bg-pattern-top-desktop.svg) no-repeat -9% 0%,
      url(./images/bg-pattern-bottom-desktop.svg) no-repeat 100%, -10%;
  }

  h1 {
    font-size: 3rem;
  }

  .rating-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2em;
    align-items: center;
    box-sizing: border-box;
    height: 3.66em;
    margin-left: 3em;
    width: 28.5em;
  }

  .card {
    margin-top: 1em;
    height: 10.5em;
  }

  .card:first-of-type {
    margin-top: 0;
  }

  .card:last-of-type {
    margin-top: 2em;
  }

  .rating-section {
    width: 45%;
  }

  .rating-card:first-of-type {
    margin-left: 0;
  }

  .rating-card:last-of-type {
    margin-left: 6em;
  }

  .rating-title {
    margin: 0;
    margin-left: 2.33em;
  }
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
